<footer class="footer">
  <p>Francisco Salapic Fernández</p>
  <div class="footer-social-icons">
    <img src="/images/instagram.png" alt="Instagram" class="social-icon" />
    <img src="/images/facebook.png" alt="Facebook" class="social-icon" />
    <img src="/images/twitter.png" alt="X" class="social-icon" />
  </div>
</footer>
