<header class="navbar">
  <nav class="navbar-nav">
    <a href="/" class="navbar-brand">
      <img src="/images/logo.png" alt="Logo" class="navbar-logo" />
      FilmTreasury
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/" class="navbar-link">Inicio</a></li>
      <li class="navbar-item">
        <a href="/peliculas" class="navbar-link">Catálogo</a>
      </li>
      <li class="navbar-item">
        <a href="/contacto" class="navbar-link">Contacto</a>
      </li>
      <% if (usuarioAutenticado) { %>
      <li class="navbar-item">
        <a href="/logout" class="navbar-link">Cerrar Sesión</a>
      </li>
      <li class="navbar-item navbar-user">
        <span class="navbar-link">Hola, <%= usuarioAutenticado %></span>
      </li>
      <% } else { %>
      <li class="navbar-item">
        <a href="/login" class="navbar-link">Iniciar Sesión</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
